/* src/assets/styles/main.scss */

$primary-color: #509fee;
$secondary-color: #424242;

body {
  font-family: 'Roboto', sans-serif;
}

.v-btn {
  border-radius: 10px; /* Modificar o estilo do botão */
}
