/* src/assets/styles/main.scss */

$primary-color: #1976d2; /* Cor primária */
$secondary-color: #424242; /* Cor secundária */

body {
  font-family: 'Roboto', sans-serif;
}

.v-btn {
  border-radius: 10px; /* Modificar o estilo do botão */
}
